@model IEnumerable<Shipping>

@{
	ViewData["Title"] = "Quản lý vận chuyển";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="Dashboard">
	<div class="DashboardContent">
		<div class="Manager">
			<div class="ContentManager">
				<section class="Section_1">
					<div class="Container">
						<h2>Danh sách vận chuyển</h2>
					</div>
				</section>

				<section class="Section_2">
					<div class="Container">
						<div class="LeftFilter">
							<a class="AddIcon" href="@Url.Action("Add", "Shipping", new { area = "Admin" })">
								<i class="fa-solid fa-plus"></i>
								<span>Thêm</span>
							</a>
						</div>
					</div>
				</section>

				<section class="Section_3">
					<div class="Container">
						<table id="myTable">
							<thead>
								<tr>
									<th>Tỉnh / Thành phố</th>
									<th>Quận / Huyện</th>
									<th>Phường / Xã</th>
									<th>Phí vận chuyển</th>
									<th>Ngày thêm</th>
									<th>Xóa</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var product in Model)
								{
									<tr style=" height: 5vh !important;">
										<td>@product.City</td>
										<td>@product.District</td>
										<td>@product.Ward</td>
										<td>@String.Format("{0:N0} VND", product.Price)</td>
										<td>@product.CreatedAt.ToString("dd/MM/yyyy")</td>
										<td><a asp-action="Delete" asp-controller="Shipping" asp-route-Id="@product.Id"><i class="fa-solid fa-trash"></i></a></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.PartialAsync("_ValidationScriptsPartial");
	}
}