@model IEnumerable<NikeStore.Models.Product>

@{
	ViewData["Title"] = "Danh sách sản phẩm";
	int productCount = 0;
	foreach (var product in Model) { productCount++; }
	var currentUrl = Url.ActionContext.HttpContext.Request.Path;
}

<div class="ProductListPage">
	<section class="Section_1">
		<div class="Title">
			@foreach(var product in Model) {
				<h3>Shoes / @product.ProductCategory?.CategoryName</h3>
				<h2> @product.ProductCategory?.CategoryName (@productCount)</h2>
			}
		</div>

		<div class="Filter">
			<ul>
				<li>
					<span class="Show" onclick="showFilter()">Hiện bộ lọc</span>
					<span class="Hide" onclick="hideFilter()">Ẩn bộ lọc</span>
					<i class="fa-solid fa-sliders"></i>
				</li>

				<li>
					<select class="form-control" id="sort_by">
						<option>-- Sắp xếp --</option>
						<option value="@currentUrl?sort_by=price_hotest">Phổ biến</option>
						<option value="@currentUrl?sort_by=price_newest">Mới ra mắt</option>
						<option value="@currentUrl?sort_by=price_increase">Giá: thấp - cao</option>
						<option value="@currentUrl?sort_by=price_decrease">Giá: cao - thấp</option>
					</select>
				</li>
			</ul>
		</div>
	</section>

	<section class="Section_2 row">
		<div class="Category col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-4">
			<div class="FilterItems">
				<div class="Title" onclick="toggleFilter(this)">
					<h3>Giới Tính</h3>
					<i class="DownFilter fa-solid fa-angle-down"></i>
					<i class="UpFilter fa-solid fa-angle-up"></i>
				</div>
				<div class="Option">
					<vc:product-gender></vc:product-gender>
				</div>

			</div>

			<div class="FilterItems">
				<div class="Title" onclick="toggleFilter(this)">
					<h3>Giá</h3>
					<i class="DownFilter fa-solid fa-angle-down"></i>
					<i class="UpFilter fa-solid fa-angle-up"></i>
				</div>
				<form class="Option" method="get" asp-action="Index" asp-controller="Category">
					<p>
						<label for="amount">Price range:</label>
						<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
					</p>

					<input type="hidden" id="startprice" name="startprice">
					<input type="hidden" id="endprice" name="endprice">

					<div id="slider-range"></div>
					<button type="submit" class="btn-locgia">Lọc</button>
				</form>
			</div>

			<div class="FilterItems">
				<div class="Title" onclick="toggleFilter(this)">
					<h3>Ưu Đãi & Khuyến Mãi</h3>
					<i class="DownFilter fa-solid fa-angle-down"></i>
					<i class="UpFilter fa-solid fa-angle-up"></i>
				</div>
				<div class="Option">
					<input type="radio" id="option8" name="promotion" value="Giảm giá">
					<label for="option8">Giảm giá</label><br>
				</div>
			</div>

			<div class="FilterItems">
				<div class="Title" onclick="toggleFilterColour(this)">
					<h3>Màu Sắc</h3>
					<i class="DownFilter fa-solid fa-angle-down"></i>
					<i class="UpFilter fa-solid fa-angle-up"></i>
				</div>
				<div class="OptionColour">
					<vc:product-color></vc:product-color>
				</div>
			</div>

			<div class="FilterItems">
				<div class="Title" onclick="toggleFilter(this)">
					<h3>Chiều Cao Giày</h3>
					<i class="DownFilter fa-solid fa-angle-down"></i>
					<i class="UpFilter fa-solid fa-angle-up"></i>
				</div>
				<div class="Option">
					<vc:product-type></vc:product-type>
				</div>
			</div>

			<div class="FilterItems">
				<div class="Title" onclick="toggleFilter(this)">
					<h3>Bộ Sưu Tập</h3>
					<i class="DownFilter fa-solid fa-angle-down"></i>
					<i class="UpFilter fa-solid fa-angle-up"></i>
				</div>
				<div class="Option">
					<vc:product-category></vc:product-category>
				</div>
			</div>
		</div>

		<div class="ProductList col-lg-9 col-md-12 col-sm-12 col-xs-12 mb-4 row">
			@foreach (var product in Model)
			{
				<a asp-action="Details" asp-controller="Product" asp-route-Id="@product.ProductID" class="Components  col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
					<div class="Contain_img">
						<img src="@(product.Images.FirstOrDefault()?.ImageUrl ?? "default.jpg")" alt="@product.Name" />
					</div>
					<div class="Content">
						<h1>@product.Name</h1>
						<h2>@product.ProductCategory?.CategoryName</h2>
						<h1>@String.Format("{0:N0} VND", product.Price)</h1>
					</div>
				</a>
			}
		</div>
	</section>
</div>

@section Scripts {
	<script>
		$(document).ready(function(){
			$( function() {
				$( "#slider-range" ).slider({
					range: true,
					step: 100000,
					min: 100000,
					max: 5000000,
					values: [ 100000, 1000000 ],
					slide: function( event, ui ) {
						$( "#amount" ).val( ui.values[0] + " VNĐ - " + ui.values[1] + " VNĐ" );
						$("#startprice").val(ui.values[0]);
						$("#endprice").val(ui.values[1]);
					}
				});
				$( "#amount" ).val( $("#slider-range").slider("values", 0 ) + " VNĐ - " + $("#slider-range").slider("values", 1 ) + " VNĐ");
				$("#startprice").val($("#slider-range").slider("values", 0));
				$("#endprice").val($("#slider-range").slider("values", 1));
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#sort_by').on('change', function(){
				var url = $(this).val();
				if(url){
					window.location = url;
				}
				return false;
			});
		});
	</script>
}