@{
	ViewData["Title"] = "Dashboard";
}

<div class="Dashboard">
	<div class="DashboardContent">
		<div class="DashboardHome" id="DashboardHome">
			<section class="Section_1">
				<ul class="row">
					<li class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
						<a href="/Admin/DashBoard/RevenueChart">
							<h3>Doanh thu hôm nay</h3>
							<span>@ViewBag.TotalRevenueToday</span>
							<p>Lợi nhuận: @ViewBag.RevenueGrowth %</p>
						</a>
					</li>

					<li class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
						<a href="/Admin/DashBoard/ProductChart">
							<h3>Sản phẩm bán được</h3>
							<span>@ViewBag.TotalProductsSold</span>
							<p>Tỷ lệ tăng: @ViewBag.ProductGrowth %</p>
						</a>
					</li>

					<li class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
						<a href="/Admin/DashBoard/OrderChart">
							<h3>Đơn hàng bán được</h3>
							<span>@ViewBag.TotalOrder</span>
							<p>Tỷ lệ tăng: @ViewBag.OrderGrowth %</p>
						</a>
					</li>

					<li class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
						<a href="/Admin/DashBoard/AccessWebStatistic">
							<h3>Lượt truy cập Website</h3>
							<span>@ViewBag.TotalWebsiteVisits</span>
							<p>Tỷ lệ tăng: --%</p>
						</a>
					</li>
				</ul>
			</section>

			<section class="Section">
				<div class="Container">
					<div class="Title">
						<h2>Doanh thu</h2>
					</div>

					<div class="Content">
						<div class="Chart">
							<div id="revenueChart" style="height: auto;"></div>
						</div>
					</div>
				</div>
			</section>

			<section class="Section">
				<div class="Container">
					<div class="Title">
						<h2>Sản phẩm</h2>
					</div>

					<div class="Content">
						<div class="Chart">
							<div id="productChart" style="height: auto;"></div>
						</div>
					</div>
				</div>
			</section>

			<section class="Section">
				<div class="Container">
					<div class="Title">
						<h2>Đơn hàng</h2>
					</div>

					<div class="Content">
						<div class="Chart">
							<div id="orderChart" style="height: auto;"></div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		new Morris.Line({
			element: 'revenueChart',
			data: [
				{ year: '2008', value: 20 },
				{ year: '2009', value: 10 },
				{ year: '2010', value: 5 },
				{ year: '2011', value: 5 },
				{ year: '2012', value: 20 },
			],
			xkey: 'year',
			ykeys: ['value'],
			labels: ['Doanh thu']
		});

		new Morris.Line({
			element: 'productChart',
			data: [
				{ year: '2008', value: 30 },
				{ year: '2009', value: 20 },
				{ year: '2010', value: 10 },
				{ year: '2011', value: 15 },
				{ year: '2012', value: 25 }
			],
			xkey: 'year',
			ykeys: ['value'],
			labels: ['Sản phẩm']
		});

		new Morris.Line({
			element: 'orderChart',
			data: [
				{ year: '2008', value: 40 },
				{ year: '2009', value: 35 },
				{ year: '2010', value: 30 },
				{ year: '2011', value: 25 },
				{ year: '2012', value: 50 }
			],
			xkey: 'year',
			ykeys: ['value'],
			labels: ['Đơn hàng']
		});
	</script>

}