@model IEnumerable<NikeStore.Models.Product>

@{
	ViewData["Title"] = "Danh sách sản phẩm";
}

<div class="Dashboard">
	<div class="DashboardContent">
		<div class="ProductManager Manager" id="ProductManager">
			<div class="ContentManager">
				<section class="Section_1">
					<div class="Container">
						<h2>Danh sách sản phẩm</h2>
					</div>
				</section>

				<section class="Section_2">
					<div class="Container">
						<div class="LeftFilter">
							<a class="AddIcon" href="@Url.Action("Add", "Product", new { area = "Admin" })">
								<i class="fa-solid fa-plus"></i>
								<span>Thêm</span>
							</a>
						</div>
					</div>
				</section>

				<section class="Section_3">
					<div class="Container">
						<table id="myTable">
							<thead>
								<tr>
									<th>Chọn</th>
									<th>Ảnh</th>
									<th>Tên sản phẩm</th>
									<th>Số lượng</th>
									<th>Đã bán</th>
									<th>Slug</th>
									<th>Giá</th>
									<th>Màu sắc</th>
									<th>Kích thước</th>
									<th>Loại</th>
									<th>Giới tính</th>
									<th>Bộ sưu tập</th>
									<th>Sửa</th>
									<th>Xóa</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var product in Model)
								{
									<tr>
										<td><input type="checkbox"></td>
										<td><img src="@(product.Images.FirstOrDefault()?.ImageUrl ?? "default.jpg")" alt="@product.Name"></td>
										<td>@product.Name</td>
										<td><b>@product.Quantity</b><a asp-controller="Product" asp-action="AddQuantity" asp-route-Id="@product.ProductID" style="font-style:italic; color: dodgerblue; font-size: 0.9em;">Thêm số lượng</a></td>
										<td><b>@product.Sold</b></td>
										<td>@product.Slug</td>
										<td>@String.Format("{0:N0} VND", product.Price)</td>
										<td>@product.ProductColor?.Color</td>
										<td>@product.ProductSize?.Size</td>
										<td>@product.ProductType?.Type</td>
										<td>@product.ProductGender?.GenderName</td>
										<td>@product.ProductCategory?.CategoryName</td>
										<td><a asp-action="Edit" asp-controller="Product" asp-route-Id="@product.ProductID"><i class="fa-solid fa-edit"></i></a></td>
										<td><a asp-action="Delete" asp-controller="Product" asp-route-Id="@product.ProductID"><i class="fa-solid fa-trash"></i></a></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>